{% comment %}
 The contents of the templates/page.returnify.liquid
{% endcomment %}
<div class='page-width'>
<div class='section-header text-center'><h1></h1></div>
<div class='grid myaccount'>
{% if customer.orders.size != 0 %}<iframe style='width:100%;min-height:1000px;border:none' src='https://api.orsis.net/2022/returnify/script.asp?shopid=6294&shop_id={{shop.id}}&shop_url={{shop.url}}&shop_name={{shop.name}}&customer_id={{customer.id}}&customer_email={{customer.email}}&customer_orders_last_id={{customer.orders.last.id}}&customer_orders_last_created_at={{customer.orders.last.created_at}}&customer_orders_last_line_items_first_id={{customer.orders.last.line_items.first.id}}'></iframe>{% else %}<p>{{ 'customer.orders.none' | t }}</p>{% endif %}
</div>
</div>